alabaster==0.7.10
Babel==2.5.1
cachetools==2.0.1
certifi==2017.7.27.1
chardet==3.0.4
docutils==0.14
falcon==1.3.0
gunicorn==19.7
idna==2.6
imagesize==0.7.1
Jinja2==2.9.6
MarkupSafe==1.0
psycopg2==2.7.3.1
Pygments==2.2.0
python-mimeparse==1.6.0
pytz==2017.2
requests==2.18.4
six==1.11.0
snowballstemmer==1.2.1
Sphinx==1.6.4
sphinxcontrib-websupport==1.0.1
SQLAlchemy==1.2.0b2
urllib3==1.24.2
gevent==1.4.0
