{
    "webhook": {
        "callback_url": "{{ .Env.MCONF_WEBHOOK_CALLBACK_URL  }}",
        "should_register": "{{ .Env.MCONF_WEBHOOK_SHOULD_REGISTER  }}",
        "database": {
            "host": "{{ .Env.MCONF_WEBHOOK_DATABASE_HOST }}",
            "user": "{{ .Env.MCONF_WEBHOOK_DATABASE_USER }}",
            "password": "{{ .Env.MCONF_WEBHOOK_DATABASE_PASSWORD }}",
            "database": "{{ .Env.MCONF_WEBHOOK_DATABASE_DATABASE }}"
        },
        "route": "{{ .Env.MCONF_WEBHOOK_ROUTE }}",
        "auth": {
            "required": {{ .Env.MCONF_WEBHOOK_AUTH_REQUIRED }}
        }
    }
}
