{
    "zabbix": {
        "period": {{ .Env.MCONF_AGGR_ZABBIX_PERIOD }},
        "application": "{{ .Env.MCONF_AGGR_ZABBIX_APPLICATION }}",
        "servers": [
          {
            "url": "https://zabbix-server.com",
            "login": "user",
            "password": "changeme"
          }
        ],
        "database": {
            "host": "{{ .Env.MCONF_AGGR_WEBHOOK_DATABASE_HOST}}",
            "user": "{{ .Env.MCONF_AGGR_ZABBIX_DATABASE_USER }}",
            "password": "{{ .Env.MCONF_AGGR_ZABBIX_DATABASE_PASSWORD }}",
            "database": "{{ .Env.MCONF_AGGR_ZABBIX_DATABASE_DATABASE }}",
            "table": "{{ .Env.MCONF_AGGR_ZABBIX_DATABASE_TABLE }}"
        },
        "setup_file": "config",
        "debug": {
            "enabled": false,
            "read_delay": 1,
            "write_delay": 1
        }
    }
}
